<a id="1"></a>
# <div style="padding:20px;color:#ffffff; margin:0; font-size:35px; font-family:Georgia; text-align:left; display:fill; border-radius:5px; background-color:#254E58;overflow:hidden"><b>Preprocessing</b></div>

<a id="1.2"></a>
<h2 style="font-family: Verdana; font-size: 25px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: #00FF00; background-color: #000000;"><b>Import</b></h2>

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from src.data_module import make_dataset
print("Setup Complete!")

Setup Complete!

<a id="1.2"></a>
<h2 style="font-family: Verdana; font-size: 25px; font-style: normal; font-weight: normal; text-decoration: none; text-transform: none; letter-spacing: 2px; color: #00FF00; background-color: #000000;"><b>Exploring</b></h2>

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
Read raw data from file</b></span>

In [2]:
raw_train_path = '../data/raw/train.csv'
raw_test_path = '../data/raw/test.csv'

raw_train_df = make_dataset.saveCSV2DataFrame(raw_train_path)
raw_test_df = make_dataset.saveCSV2DataFrame(raw_test_path)

In [3]:
# TEST
raw_train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
raw_test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [5]:
del raw_train_df['PassengerId'], raw_test_df['PassengerId']
del raw_train_df['Name'], raw_test_df['Name']

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
How many rows and how many columns does the raw data have?</b></span>

In [6]:
shape = raw_train_df.shape

In [7]:
# TEST
print(f"Current shape: {shape}")

if shape[0] > 1000:
    print(f"Your data good!.")
else:
    print(f"Your raw data absolutely small. Please choose larger year interval.!")

Current shape: (8693, 12)
Your data good!.

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
What does each line mean? Does it matter if the lines have different meanings? </b></span>

[//]: <> (Text)
<span style="font-size:14px; font-family:Verdana; color: #ffffff;"> 
TODO: Your observation
</span>


> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
Does the raw data have duplicate rows? </b></span>

In [8]:
index = raw_train_df.index
detectDupSeries = index.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()

In [9]:
if num_duplicated_rows == 0:
    print(f"Your raw data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Your raw data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Your raw data have no duplicated line.!

In [10]:
# De-deduplicate your raw data
if num_duplicated_rows > 0:
    raw_train_df = raw_train_df.drop_duplicates(keep='first')
    print('Shape after de-deduplicate: ', raw_train_df.shape)

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
What does each column mean? </b></span>

In [11]:
# col_meaning_df = pd.read_csv('../data/external/... .csv')
# col_meaning_df.set_index('Query API', inplace=True)
# pd.set_option('display.max_colwidth', 350)

In [12]:
# # TEST
# col_meaning_df


> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
What data type does each column currently have? Are there any columns whose data types are not suitable for further processing? </b></span>

In [13]:
dtypes = raw_train_df.dtypes

In [14]:
# TEST
dtypes

HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported        bool
dtype: object

[//]: <> (Text)
<span style="font-size:14px; font-family:Verdana; color: #ffffff;"> 
TODO: Your observation
</span>

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
For each column with numeric data type, how are the values distributed?  </b></span>

In [15]:
num_col_info_train_df = raw_train_df.select_dtypes(exclude=['object', 'bool'])
num_col_info_test_df = raw_test_df.select_dtypes(exclude=['object', 'bool'])

def missing_ratio(s):
    return (s.isna().mean() * 100).round(1)

def median(df):
    return (df.quantile(0.5)).round(1)

def lower_quartile(df):
    return (df.quantile(0.25)).round(1)

def upper_quartile(df):
    return (df.quantile(0.75)).round(1)

num_col_info_train_df = num_col_info_train_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_test_df = num_col_info_test_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

In [16]:
num_col_info_train_df

                 Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
missing_ratio    2.1          2.1        2.1           2.4      2.1      2.2
min              0.0          0.0        0.0           0.0      0.0      0.0
lower_quartile  19.0          0.0        0.0           0.0      0.0      0.0
median          27.0          0.0        0.0           0.0      0.0      0.0
upper_quartile  38.0         47.0       76.0          27.0     59.0     46.0
max             79.0      14327.0    29813.0       23492.0  22408.0  24133.0

In [17]:
num_col_info_test_df

                 Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
missing_ratio    2.1          1.9        2.5           2.3      2.4      1.9
min              0.0          0.0        0.0           0.0      0.0      0.0
lower_quartile  19.0          0.0        0.0           0.0      0.0      0.0
median          26.0          0.0        0.0           0.0      0.0      0.0
upper_quartile  37.0         53.0       78.0          33.0     50.0     36.0
max             79.0      11567.0    25273.0        8292.0  19844.0  22272.0

In [18]:
# YOUR CODE HERE (Optional)
# You can use Matplotlib to visualize this table for more intuitive

In [19]:
print(dict(num_col_info_train_df.iloc[0]))
print(dict(num_col_info_test_df.iloc[0]))

{'Age': 2.1, 'RoomService': 2.1, 'FoodCourt': 2.1, 'ShoppingMall': 2.4, 'Spa': 2.1, 'VRDeck': 2.2}
{'Age': 2.1, 'RoomService': 1.9, 'FoodCourt': 2.5, 'ShoppingMall': 2.3, 'Spa': 2.4, 'VRDeck': 1.9}

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
For each column with a non-numeric data type, how are the values distributed?</b></span>


[//]: <> (Text)
<span style="font-size:14px; font-family:Verdana; color: #ffffff;"> 
For non-numeric columns in a Pandas DataFrame, calculate the following:

- Percentage of missing values: This is the percentage of values in the column that are missing, from 0 to 100.
- Number of unique values: This is the number of different values in the column, excluding missing values. For categorical columns, this is the same as the number of categories.
- Percentage of each value: This is the percentage of each unique value in the column, sorted by decreasing percentage. Missing values are excluded from this calculation.

To calculate the percentage of each value, you can use a dictionary to store the results, where the key is the value and the value is the percentage. For categorical columns, the method is the same.

Save the results to a Pandas DataFrame called cat_col_info_df, with the following columns:

- Column name: The name of the non-numeric column in the original DataFrame (raw_df)
- missing_ratio: The percentage of missing values in the column
- num_values: The number of unique values in the column, excluding missing values
- value_ratios: A dictionary of the percentage of each unique value in the column, sorted by decreasing percentage

To improve readability, round all values to one decimal place using the .round(1) method.
</span>

In [20]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly

In [21]:
cat_col_info_df = raw_train_df.select_dtypes(include='object')

def missing_ratio(s):
    return (s.isna().mean() * 100).round(1)

def num_values(s):
    s = s.astype(str).str.split(';')
    s = s.explode()
    return len(s.value_counts())

def value_ratios(s):
    s = s.astype(str).str.split(';')
    s = s.explode()
    totalCount = (~s.isna()).sum()
    return ((s.value_counts()/totalCount*100).round(1)).to_dict()

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,HomePlanet,CryoSleep,Cabin,Destination,VIP
missing_ratio,2.3,2.5,2.3,2.1,2.3
num_values,4,3,6561,4,3
value_ratios,"{'Earth': 52.9, 'Europa': 24.5, 'Mars': 20.2, 'nan': 2.3}","{'False': 62.6, 'True': 34.9, 'nan': 2.5}","{'nan': 2.3, 'G/734/S': 0.1, 'C/137/S': 0.1, 'B/201/P': 0.1, 'G/109/P': 0.1, 'G/981/S': 0.1, 'D/...","{'TRAPPIST-1e': 68.0, '55 Cancri e': 20.7, 'PSO J318.5-22': 9.2, 'nan': 2.1}","{'False': 95.4, 'nan': 2.3, 'True': 2.3}"

In [22]:
# YOUR CODE HERE (Optional)
# You can use Matplotlib to visualize this table for more intuitive

[//]: <> (Text)
<span style="font-size:14px; font-family:Verdana; color: #ffffff;"> 
After identifying the basic statistical numbers that describe your data, we further need to determine the features that have a large number of missing values. Such features are not useful for the analysis stage and must be removed from the dataset.

Depending on your goals, the threshold for "large" can be defined. Usually, if the percentage of missing values is greater than 75%, the column is dropped from the dataframe and an updated dataframe is returned.
</span>

In [23]:
def drop_missing_features(df: pd.DataFrame, missing_lst: dict = dict(num_col_info_train_df.iloc[0]), threshold: float = 75.0) -> pd.DataFrame:
    """Drop missing features from Pandas dataframe base on given threshold.

    Args:
        df (pd.DataFrame): Input dataframe for processing.
        missing_lst (dict, optional): Dict missing value rate which calculated from previous stage. Defaults to dict(num_col_info_df.iloc[0]).
        threshold (float, optional): User threshold for dropping. Defaults to 75.0.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    if (df is None) or (missing_lst is None) or (threshold is None):
        print(f"[LOG] Invalid.")
        raise ValueError
    
    # Create a copy of the dataframe to avoid changing the original
    df_cp = df.copy()
    
    # List to maintain the columns to drop
    cols_to_trim = []
    
    for key, value in missing_lst.items():
        if float(value) > threshold:
            cols_to_trim.append(key)
            
    if len(cols_to_trim) > 0:
        # drop the columns identified using the dataframe drop() method
        df_cp = df_cp.drop(columns=cols_to_trim)
        print("[LOG] Dropped column(s): " + " ".join(cols_to_trim))
    else:
        print("[LOG] Have no column(s) to trim.")
        
    return df_cp

In [24]:
raw_train_df = drop_missing_features(raw_train_df, dict(num_col_info_train_df.iloc[0]))
raw_test_df = drop_missing_features(raw_test_df, dict(num_col_info_test_df.iloc[0]))

[LOG] Have no column(s) to trim.
[LOG] Have no column(s) to trim.

In [25]:
# TEST
raw_train_df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True


[//]: <> (Text)
<span style="font-size:14px; font-family:Verdana; color: #ffffff;"> 
After remove features which have large missing values, our dataframe still have missing values. So that, we need to fill these missing values so that they can be used in analysis.
</span>

In [26]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    """Filling missing features from Pandas dataframe
    
    The first, you need to replace all None values with NaN, fillna only works on nans.
    
    After that, you replace all NaN values with the mean of the column values.

    Args:
        df (pd.DataFrame): Input dataframe for processing.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    if (df is None):
        print(f"[LOG] Invalid.")
        raise ValueError
    
    # Create a copy of the dataframe to avoid changing the original
    df_cp = df.copy()
    
    # Get the list of columns in the dataframe
    cols_list = list(df_cp.columns)
    
    # Replace all None values with NaN, fillna only works on nans
    df_cp.fillna(value=np.nan, inplace=True)
    
    # Replace all NaN values with the mean of the column values
    for col in cols_list:
        if df_cp[col].dtype in ['object', 'bool']:
            df_cp[col].fillna((df_cp[col].mode()[0]), inplace=True)
        elif df_cp[col].dtype in ['int64', 'float64']:
            df_cp[col].fillna((df_cp[col].mean()), inplace=True)
        
    return df_cp

In [27]:
raw_train_df = filling_missing_value(df=raw_train_df)
raw_test_df = filling_missing_value(df=raw_test_df)

In [28]:
# TEST
print("Train data: ")
print(raw_train_df.select_dtypes(exclude=['object', 'bool']).agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"]))
print("\nTest data: ")
print(raw_test_df.select_dtypes(exclude=['object', 'bool']).agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"]))

Train data:
                 Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
missing_ratio    0.0          0.0        0.0           0.0      0.0      0.0
min              0.0          0.0        0.0           0.0      0.0      0.0
lower_quartile  20.0          0.0        0.0           0.0      0.0      0.0
median          27.0          0.0        0.0           0.0      0.0      0.0
upper_quartile  37.0         78.0      118.0          45.0     89.0     71.0
max             79.0      14327.0    29813.0       23492.0  22408.0  24133.0

Test data:
                 Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
missing_ratio    0.0          0.0        0.0           0.0      0.0      0.0
min              0.0          0.0        0.0           0.0      0.0      0.0
lower_quartile  20.0          0.0        0.0           0.0      0.0      0.0
median          27.0          0.0        0.0           0.0      0.0      0.0
upper_quartile  37.0         79.0      143.0          51.0     83.0     53.0
max             79.0      11567.0    25273.0        8292.0  19844.0  22272.0

In [29]:
print("Train data: ")
raw_train_df.select_dtypes(include=['object', 'bool']).agg([missing_ratio, num_values, value_ratios])

Train data:

,HomePlanet,CryoSleep,Cabin,Destination,VIP,Transported
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0
num_values,3,2,6560,3,2,2
value_ratios,"{'Earth': 55.3, 'Europa': 24.5, 'Mars': 20.2}","{'False': 65.1, 'True': 34.9}","{'G/734/S': 2.4, 'C/21/P': 0.1, 'B/201/P': 0.1, 'G/1368/P': 0.1, 'E/13/S': 0.1, 'G/1476/S': 0.1,...","{'TRAPPIST-1e': 70.1, '55 Cancri e': 20.7, 'PSO J318.5-22': 9.2}","{'False': 97.7, 'True': 2.3}","{'True': 50.4, 'False': 49.6}"

In [30]:
print("Test data: ")
raw_test_df.select_dtypes(include=['object', 'bool']).agg([missing_ratio, num_values, value_ratios])

Test data:

,HomePlanet,CryoSleep,Cabin,Destination,VIP
missing_ratio,0.0,0.0,0.0,0.0,0.0
num_values,3,2,3265,3,2
value_ratios,"{'Earth': 54.9, 'Europa': 23.4, 'Mars': 21.6}","{'False': 63.9, 'True': 36.1}","{'G/160/P': 2.5, 'G/748/S': 0.2, 'E/228/S': 0.2, 'D/273/S': 0.2, 'B/31/P': 0.2, 'B/214/P': 0.1, ...","{'TRAPPIST-1e': 71.3, '55 Cancri e': 19.7, 'PSO J318.5-22': 9.1}","{'False': 98.3, 'True': 1.7}"

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
Data Transformation</b></span>

In [31]:
cabin_form = ['Deck', 'Num', 'Side']
raw_train_df[cabin_form] = raw_train_df['Cabin'].str.split('/', expand=True)
raw_test_df[cabin_form] = raw_test_df['Cabin'].str.split('/', expand=True)

In [32]:
raw_train_df['Age'] = raw_train_df['Age'].astype(int)
raw_train_df['AgeGroup'] = pd.cut(raw_train_df['Age'], bins=[-1, 12, 18, 60, 100], labels=['Child', 'Teenager', 'Adult', 'Elder'])
raw_test_df['AgeGroup'] = pd.cut(raw_test_df['Age'], bins=[-1, 12, 18, 60, 100], labels=['Child', 'Teenager', 'Adult', 'Elder'])

In [33]:
# amenities = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
# amenities_indices = raw_train_df.columns.get_indexer(amenities).tolist()
# raw_train_df['Spending'] = raw_train_df.iloc[:, amenities_indices].sum(axis=1).astype('float64')
# raw_test_df['Spending'] = raw_test_df.iloc[:, amenities_indices].sum(axis=1).astype('float64')

In [34]:
amenities = {
    'RoomService': 'Room',
    'FoodCourt': 'Food',
    'ShoppingMall': 'Shopping',
    'Spa': 'Spa',
    'VRDeck': 'VR'
}

raw_train_df.rename(columns=amenities, inplace=True)
raw_test_df.rename(columns=amenities, inplace=True)

In [35]:
raw_train_df.dtypes

HomePlanet       object
CryoSleep          bool
Cabin            object
Destination      object
Age               int32
VIP                bool
Room            float64
Food            float64
Shopping        float64
Spa             float64
VR              float64
Transported        bool
Deck             object
Num              object
Side             object
AgeGroup       category
dtype: object

In [36]:
selected_features = ['HomePlanet', 'CryoSleep', 'Deck', 'Side', 'AgeGroup', 'Destination', 'VIP', 'Room', 'Food', 'Shopping', 'Spa', 'VR', 'Transported']
raw_train_df = raw_train_df[selected_features]
raw_test_df = raw_test_df[selected_features[:-1]]

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
Is the collected data reasonable?</b></span>


[//]: <> (Text)
<span style="font-size:14px; font-family:Verdana; color: #ffffff;"> 
TODO
</span>

> <span style='font-size:15px; font-family:Verdana; color: #ffffff;'><b>
Save your processed data</b></span>

In [37]:
print(f"Total number of features: {raw_train_df.shape[1]}")
raw_train_df.dtypes

Total number of features: 13

HomePlanet       object
CryoSleep          bool
Deck             object
Side             object
AgeGroup       category
Destination      object
VIP                bool
Room            float64
Food            float64
Shopping        float64
Spa             float64
VR              float64
Transported        bool
dtype: object

In [38]:
save_name_lst = ['train', 'test']

for i, df in enumerate([raw_train_df, raw_test_df]):
    save_name = save_name_lst[i]
    file_path = f"../data/processed/{save_name}_processed.csv"
    print(f"Save {save_name} to {file_path}")
    df.to_csv(file_path, index=False)

Save train to ../data/processed/train_processed.csv
Save test to ../data/processed/test_processed.csv